<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>
<body>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/bootstrap.responsive.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/new.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/teste.css" rel="stylesheet">   
        <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
	<script src ="{ STATIC_URL }}js/bootstrap.min.js"/>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/drop.min.js"></script>  
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>    

       <!-- BARRA FIXA -->
        <div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
            <div class="container">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
    
                <div class="nav-collapse collapse bs-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="/">Início</a>
                        </li>
                        
                        <li>
                            <a href="/register">Cadastro de Usuários    </a>

                        </li>

                        <li >
                            <a href="/student_register">Cadastro de Alunos</a>
                        </li>
                        <li>
                            <a href="/teacher_register">Cadastro de Professores</a>
                        </li>

                         <li>
                            <a href="/class_register">Cadastro de Disciplinas</a>
                        </li>
                         <li>
                            <a href="/grade_register">Cadastro de Turmas</a>
                        </li>
                         <li>
                            <a href="/matriculation_register">Matrícula</a>
                        </li>
                        
                        <li>
                            <a href="/logout/">Sair</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

     <!-- Docs page layout -->

        <div class="bs-header">
            <div class="container">
               <img src = "{{ STATIC_URL }}img/Academicos.jpg" />

                <div id="carbonads-container"><div class="carbonad"><div id="azcarbon"></div> <center><img src = "{{ STATIC_URL }}img/logo.jpg" /> </div></div>

            </div>
        </div>
 

        <div class="bs-old-docs">
            <div class="container">
                <strong>
                    <a href="../2.3.2/">Lembretes</a>
                </strong>
                Atualizações Importantes foram realizadas.
            </div>
        </div>

         <div class="container bs-docs-container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="bs-sidebar">
                        <ul class="nav bs-sidenav">
                            <li>                  
                                <a href="#download">Visualizar Notas</a>
                            </li>
                            <li>
                                <a href="#whats-included">Situação Academica</a>
                            </li>
                            <li>
                                <a href="#template">Histórico Escolar</a>
                            </li>
                            
                            <li>
                                <a href="#license-faqs">Boletim do Aluno</a>
                            </li>
                            <li>
                                <a href="#customizing">Quadro de Avisos</a>
                            </li>

                        </ul>
                    </div>
                </div>

<div class="container">
               
                    <footer class="bs-footer">
                       <div class="bs-social">
                           <p>Criado por CommSystem - Lucas Lins e Jean Turet</p>
                                    <p>Todos os direitos Reservados 
                                    	<br><a>Site</a>
                                </div>
                          <footer/>
                      
                  </div>
     
