{% extends 'base.html' %}
{% block navbar %}
	<li>
                            <a href="/">Início</a>
                        </li>
                        
                        <li>
                            <a href="/menu_aluno">Aluno</a>

                        </li>

                        <li >
                            <a href="/menu_secretaria">Administração</a>
                        </li>
                        <li>
                            <a href="/menu_professor">Professor</a>
                        </li>

                         <li  class="active">
                            <a href="/menu_secretaria">Secretaria</a>
                        </li>
                        
                        <li>
                            <a href="/logout/">Sair</a>
                        </li>

{% endblock navbar %}

{% block content %}

	<h2>
		<center>Matrícula</center>
	</h2>
	<legend> </legend>

	<form action="." method="POST">
		{% csrf_token %}
		<center>
			<div class = "control-group">  
				<label class = "control-label" for="{{ form.nome.id_for_label }}">*Nome da Disciplina:</label>
				<div class="controls">
					{{ form.nome }}
					{{ form.nome.errors }}
				</div>
			</div>

			<div class = "control-group">  
				<label class = "control-label" for="{{ form.professor.id_for_label }}">*Professor:</label>
				<div class="controls">
					{{ form.professor }}
					{{ form.professor.errors }}
				</div>
			</div>

			<div class = "control-group">  
				<label class = "control-label" for="{{ form.aluno.id_for_label }}">*Alunos:</label>
				<div class="controls">
					{{ form.aluno }}
					{{ form.aluno.errors }}
				</div>
			</div>

			<div class = "control-group">  
				<label class = "control-label" for="{{ form.serie.id_for_label }}">*Série:</label>
				<div class="controls">
					{{ form.serie }}
					{{ form.serie.errors }}
				</div>
			</div>

			<div class = "control-group">  
				<label class = "control-label" for="{{ form.turma.id_for_label }}">*Turma:</label>
				<div class="controls">
					{{ form.turma }}
					{{ form.turma.errors }}
				</div>
			</div>

			<div class = "control-group">  
				<label class = "control-label" for="{{ form.turno.id_for_label }}">*Turno:</label>
				<div class="controls">
					{{ form.turno }}
					{{ form.turno.errors }}
				</div>
			</div>

			<div class = "control-group">  
				<label class = "control-label" for="{{ form.ano.id_for_label }}">*Ano:</label>
				<div class="controls">
					{{ form.ano }}
					{{ form.ano.errors }}
				</div>
			</div>

			

			
			<br> <br>
              
			<button type="submit" class="btn btn-primary">Efetuar cadastro</button>
				
			<br><br>

		</center>
	</form>
			
			{% endblock content %}