{% extends 'base.html' %}
{% block navbar %}
    
                       <li>
                            <a href="/">Início</a>
                        </li>
                        
                        <li class="active">
                            <a href="/menu_aluno">Aluno</a>

                        </li>

                        <li >
                            <a href="/menu_secretaria">Administração</a>
                        </li>
                        <li>
                            <a href="/menu_professor">Professor</a>
                        </li>

                         <li>
                            <a href="/menu_secretaria">Secretaria</a>
                        </li>
                        
                        <li>
                            <a href="/logout/">Sair</a>
                        </li>
                    
{% endblock navbar %}

{% block content %}

	<h2>
		<center>Minhas Disciplinas</center>
	</h2>
	<legend> </legend>

	<center>
    <h3>
    <div class="container bs-docs-container">
            <div class="row">
                <div class="col-lg-16">
                    <div class="bs-sidebar">
                        <ul class="nav bs-sidenav">
		{% for disciplina in lista_disciplina %}
			<div>
				<a href = /disciplina/{{ disciplina.id }}>
					{{ disciplina.nome }} - {{ disciplina.get_serie_display }}- {{ disciplina.ano }}
				</a>
			</div>
		{% endfor %}
	 </ul>
                    </div>
                </div>

<div class="container"> 
</h3>
</center>


	
			{% endblock content %}