{% extends 'base.html' %}
{% block navbar %}
	
                         <li>
                            <a href="/">Início</a>
                        </li>
                        
                        <li >
                            <a href="/menu_aluno">Aluno</a>

                        </li>

                        <li >
                            <a href="/menu_secretaria">Administração</a>
                        </li>
                        <li>
                            <a href="/menu_professor">Professor</a>
                        </li>

                         <li class="active">
                            <a href="/menu_secretaria">Secretaria</a>
                        </li>
                        
                        <li>
                            <a href="/logout/">Sair</a>
                        </li>
                    
{% endblock navbar %}

{% block content %}

	<h2>
		<center>Bem Vindo {{user.username}}</center>
	</h2>
	<legend> </legend>
<center>
    <h3>
	<div class="container bs-docs-container">
            <div class="row">
                <div class="col-lg-16">
                    <div class="bs-sidebar">
                        <ul class="nav bs-sidenav">
                            <li>                  
                                <a href="/student_register">Cadastrar Aluno</a>
                            </li>
                            <li>
                                <a href="/register">Cadastrar Usuário</a>

                            </li>
                            <li>
                                <a href="/teacher_register">Cadastrar Professor</a>

                            </li>


                            <li>
                                <a href="/lista_aluno_alterar">Visualizar Aluno</a>
                            </li>

                             <li>
                                <a href="/lista_professor_alterar">Visualizar Professor</a>
                            </li>
                            <li>
                                <a href="/lista_disciplina_adm/">Visualizar Disciplinas</a>
                            </li>

                            <li>
                                <a href="/lista_alunos_matricula">Imprimir Matrícula</a>
                            </li>
                            <li>
                                <a href="/lista_alunos_historico">Imprimir Histórico</a>
                            </li>
                            <li>
                                <a href="/lista_alunos_historico">Imprimir Boleto</a>
                            </li>
                            <li>
                                <a href="/lista_alunos_financeiro">Financeiro</a>
                            </li>
                            
                            <li>
                                <a href="/disciplina_register">Matrícula</a>
                            </li>
                           

                        </ul>
                    </div>
                </div>

<div class="container"> 
</h3>
</center>
	
			{% endblock content %}